$font-color: #253f71;

body {
  display: flex;
  justify-content: center;
  background-color: grey;
}

.center-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

//background: #dde0b1; /* Old browsers */
//background: -moz-radial-gradient(center, ellipse cover, #dde0b1 1%, #72a821 100%); /* FF3.6-15 */
//background: -webkit-radial-gradient(center, ellipse cover, #dde0b1 1%,#72a821 100%); /* Chrome10-25,Safari5.1-6 */
//background: radial-gradient(ellipse at center, #dde0b1 1%,#72a821 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dde0b1', endColorstr='#72a821',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

.container {
  width: 1200px;
  min-height: 500px;
  display: flex;
  background: radial-gradient(ellipse at center, #dde0b1 1%, #72a821 100%);
  font-family: 'Montserrat', sans-serif;

  form.login-form {
    font-size: 1.4em;
    color: $font-color;

    label {
      text-align: center;
      padding: 15px;
      font-weight: bold;
    }
    input {
      display: block;
      text-align: center;
      margin-top: 10px;
      font-size: 1.2em;
      color: #72a821;
      font-weight: lighter;
      font-family: 'Montserrat', sans-serif;
    }
    button {
      /*button default style*/
      background: none;
      border: 0;

      /* cursor: default; */
      font: inherit;
      line-height: normal;
      overflow: visible;
      text-decoration: none;
      padding: 0;
      color: inherit;
      font-family: 'Montserrat', sans-serif;
      margin: 15px;
      a {
        color: $font-color;
        text-decoration: none;
        &:visited {
          text-decoration: none;
        }
      }
    }
  }
}

.burger {
  //border: 1px grey solid;
  position: fixed;
  color: $font-color;
  margin: 20px;

}

.fas.fa-bars {
  font-size: 3rem;
}

.nav {
  //border: 1px black solid;
  ul {
    list-style: none;
    color: $font-color;
  }
}

//animacja slidedown-up burgera

.slided-up {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 1s,
  opacity 1s linear;

}

.slided-down {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 1s,
  opacity 1s linear;
  transition-delay: 0s;
}

//animacja slidedown-up burgera

.choose-animal {
  height: 150px;

  //border: 2px red solid;
  div {
    width: 100px;
  }

}

.main-buttons {
  height: 125px;
  width: 215px;
  border: 3px solid $font-color;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  border-radius: 5%;
  font-weight: bolder;
  margin: 3px;
  color: $font-color;

}

//animacja ostatniego buttona

//koniec animacji

.first-view {
  flex: 1 1 0;
  //border: 1px green solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  ul {
    flex-direction: row;
    list-style: none;
    width: 550px;
    justify-content: space-between;
    //border: 1px black dotted;
    margin: 0;
    //li{
    //  display: flex;
    //  align-items: center;
    //  justify-content: center;
    //  border: 1px grey solid;
    //  border-radius: 50%;
    //  padding: 5px;
    //}

  }
}

/*FoundAnimal.js*/

.addAnimalForm {
  margin: 35px;
  div {
    height: 70px;
    color: $font-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 920px;

    label {
      text-align: center;
      padding: 5px 0;
      display: flex;
      align-items: center;
      height: 40px;
    }
    input {
      text-align: center;
      font-size: 1em;
      color: #72a821;
      font-weight: lighter;
      font-family: 'Montserrat', sans-serif;
      height: 40px;
    }
    textarea {
      font-size: 1em;
      color: #72a821;
      font-weight: lighter;
      font-family: 'Montserrat', sans-serif;
      height: 40px;
    }
    select {
      font-size: 1em;
      color: #72a821;
      font-weight: lighter;
      font-family: 'Montserrat', sans-serif;
      height: 40px;
    }
  }

  .timePlaceImg {
    input {
      &:nth-child(1), &:nth-child(3) {
        width: 15px;
      }

      &:nth-child(5) {
        width: 300px;
      }
      &:nth-child(2), &:nth-child(4) {
        width: 125px;
      }
    }
  }

  .basicInfo {
    input {
      &:nth-child(1) {
        width: 160px;
      }

      &:nth-child(3) {
        width: 115px;
      }
      &:nth-child(5) {
        width: 135px;
      }
    }
    select {
      &:nth-child(2) {
        width: 130px;
      }
    }
  }

  .additionalInfo {

    div {
      &:nth-child(2n) {
        justify-content: center;
        align-items: center;
      }
    }
    label {
      &:nth-child(3) {
        width: 145px;
      }
    }
    input {
      width: 15px;
    }
    textarea {
      width: 190px;
      &:nth-child(4) {
        width: 285px;
      }
    }
  }

  .forAdditionalTextarea {
    textarea {
      width: 260px;
    }
  }

  .image{
    width: 300px;
    height: 300px;
    background-color: white;
    img{
      display: block;
      margin-left: auto;
      margin-right: auto;

    }

  }

  button {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    color: $font-color;
    width: 150px;
    margin-top: 30px;
  }
}

/*FoundAnimal.js end*/

.ulAnimals {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  border: 1px solid black;
}

.foundOneLi{
  width: 33%;
  border: 1px solid pink;
}

.foundOne{
  border: 1px solid red;
  position: relative;

  .foundOneHover{
    border: 1px solid darkmagenta;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    &:hover{
      opacity: 0.3;
    }
  }


}
.foundOneWhen{
  border: 1px solid brown;
  height: 20%;
  background: white;
  margin: 0;
}
.foundOneInfo {
  border: 1px solid yellow;
  transition: .5s ease;
  opacity: 0; //zmien to by znikało
  position: absolute;
  top: 165px;
  width: 100%;
  left: 145px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  p{
    font-size: 0.8em;
      margin: 0;
    padding: 0;

    }


  &:hover{
    opacity: 1;
  }
}



.footer {
  font-size: 0.8em;
  color: $font-color;
  margin: 10px;
  a {
    color: $font-color;
    text-decoration: none;
    &:visited {
      text-decoration: none;
    }
  }
}

.header {
  margin: 35px;
  color: white;
  font-weight: lighter;
}



.filter-div {
  button {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    color: $font-color;
    width: 150px;
    margin-top: 30px;
  }
}

.filter {
  margin-left: 10px;
  font-size: 1em;
  color: $font-color;
  font-weight: lighter;
  font-family: 'Montserrat', sans-serif;
  select {
    margin-left: 10px;
    font-size: 1em;
    color: #72a821;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
  }

}

.come-back {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  color: $font-color;
  width: 150px;
  margin: 30px;
}