body {
  display: flex;
  justify-content: center;
  background-color: grey; }

.center-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.container {
  width: 1200px;
  min-height: 500px;
  display: flex;
  background: radial-gradient(ellipse at center, #dde0b1 1%, #72a821 100%);
  font-family: 'Montserrat', sans-serif; }
  .container form.login-form {
    font-size: 1.4em;
    color: #253f71; }
    .container form.login-form label {
      text-align: center;
      padding: 15px;
      font-weight: bold; }
    .container form.login-form input {
      display: block;
      text-align: center;
      margin-top: 10px;
      font-size: 1.2em;
      color: #72a821;
      font-weight: lighter;
      font-family: 'Montserrat', sans-serif; }
    .container form.login-form button {
      /*button default style*/
      background: none;
      border: 0;
      /* cursor: default; */
      font: inherit;
      line-height: normal;
      overflow: visible;
      text-decoration: none;
      padding: 0;
      color: inherit;
      font-family: 'Montserrat', sans-serif;
      margin: 15px; }
      .container form.login-form button a {
        color: #253f71;
        text-decoration: none; }
        .container form.login-form button a:visited {
          text-decoration: none; }

.burger {
  position: fixed;
  color: #253f71;
  margin: 20px; }

.fas.fa-bars {
  font-size: 3rem; }

.nav ul {
  list-style: none;
  color: #253f71; }

.slided-up {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 1s, opacity 1s linear; }

.slided-down {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 1s, opacity 1s linear;
  transition-delay: 0s; }

.choose-animal {
  height: 150px; }
  .choose-animal div {
    width: 100px; }

.main-buttons {
  height: 125px;
  width: 215px;
  border: 3px solid #253f71;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  border-radius: 5%;
  font-weight: bolder;
  margin: 3px;
  color: #253f71; }

.first-view {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .first-view ul {
    flex-direction: row;
    list-style: none;
    width: 550px;
    justify-content: space-between;
    margin: 0; }

/*FoundAnimal.js*/
.addAnimalForm {
  margin: 35px; }
  .addAnimalForm div {
    height: 70px;
    color: #253f71;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%; }
    .addAnimalForm div label {
      text-align: center;
      padding: 5px 0;
      display: flex;
      align-items: center;
      height: 40px; }
    .addAnimalForm div input {
      text-align: center;
      font-size: 1em;
      color: #72a821;
      font-weight: lighter;
      font-family: 'Montserrat', sans-serif;
      height: 40px; }
    .addAnimalForm div textarea {
      font-size: 1em;
      color: #72a821;
      font-weight: lighter;
      font-family: 'Montserrat', sans-serif;
      height: 40px; }
    .addAnimalForm div select {
      font-size: 1em;
      color: #72a821;
      font-weight: lighter;
      font-family: 'Montserrat', sans-serif;
      height: 40px; }
  .addAnimalForm .timePlaceImg input:nth-child(1), .addAnimalForm .timePlaceImg input:nth-child(3) {
    width: 15px; }
  .addAnimalForm .timePlaceImg input:nth-child(5) {
    width: 300px; }
  .addAnimalForm .timePlaceImg input:nth-child(2), .addAnimalForm .timePlaceImg input:nth-child(4) {
    width: 125px; }
  .addAnimalForm .basicInfo input:nth-child(1) {
    width: 160px; }
  .addAnimalForm .basicInfo input:nth-child(3) {
    width: 115px; }
  .addAnimalForm .basicInfo input:nth-child(5) {
    width: 135px; }
  .addAnimalForm .basicInfo select:nth-child(2) {
    width: 115px; }
  .addAnimalForm .additionalInfo div:nth-child(2n) {
    justify-content: center;
    align-items: center; }
  .addAnimalForm .additionalInfo label:nth-child(3) {
    width: 145px; }
  .addAnimalForm .additionalInfo input {
    width: 15px; }
  .addAnimalForm .additionalInfo textarea {
    width: 190px; }
    .addAnimalForm .additionalInfo textarea:nth-child(4) {
      width: 285px; }
  .addAnimalForm .forAdditionalTextarea textarea {
    width: 260px; }
  .addAnimalForm .image {
    width: 300px;
    height: 300px;
    background-color: white; }
    .addAnimalForm .image img {
      display: block;
      margin-left: auto;
      margin-right: auto; }
  .addAnimalForm button {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    color: #253f71;
    width: 150px;
    margin-top: 30px; }

/*FoundAnimal.js end*/
.footer {
  font-size: 0.8em;
  color: #253f71;
  margin: 10px; }
  .footer a {
    color: #253f71;
    text-decoration: none; }
    .footer a:visited {
      text-decoration: none; }

.header {
  margin: 35px;
  color: white;
  font-weight: lighter; }

.ulAnimals {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none; }

.filter-div button {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  color: #253f71;
  width: 150px;
  margin-top: 30px; }

.filter {
  margin-left: 10px;
  font-size: 1em;
  color: #253f71;
  font-weight: lighter;
  font-family: 'Montserrat', sans-serif; }
  .filter select {
    margin-left: 10px;
    font-size: 1em;
    color: #72a821;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif; }

.come-back {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  color: #253f71;
  width: 150px;
  margin: 30px; }
